* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0;
}

section {
  display: flex;
  height: auto;
}

.sectionall {
  min-height: 100vh;
  padding-bottom: 15px;
}

@media (max-width: 480px) {
  
}